@import '../../global.scss';


.topbar {
  width: 100%;
  height: $topbar-height;
  background-color: white;
  color: $brandColor;
  position: fixed;
  top: 0;
  z-index: 2;

  .wrapper {
    height: 60px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper-left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }
      .item-container {
        display: flex;
        align-items: center;
        margin-left: 30px;

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }
        .span {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }

    .wrapper-right {

      .hamburger {
        height: 40px;
        width: 40px;
        cursor: pointer;
        border: none;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        span {
          display: inline-block;
          height: 3px;
          width: 100%;
          background-color: $brandColor;

        }
      }
    }


  }
}
