.sidebar {
  position: absolute;
  height: 100%;
  width: 100%;

  .left-sidebar {
    z-index: 1;
    margin-left: 15px;
    top: 70vh;
    position: fixed;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;

    .left-sidebar-list {
      padding: 0;
      margin: 0;
      position: fixed;
      display: flex;
      flex-direction: column;
    }

    .left-sidebar-list::after {
      content: "";
      width: 1px;
      height: 100vh;
      background-color: rgb(206, 199, 199);
      margin-left: 50%;
      margin-top: 50%;
    }

    .sidebar-list-item {
      // padding-top: 20px;
      padding-bottom: 5px;
      display: inline-block;

      :hover {
        color: #4cc2f0;
        animation: bounce 0.5s forwards;
        // timing-function delay iteration-count direction fill-mode;
      }

      .sidebar-links {
        padding-top: 10px;
        color: rgb(206, 199, 199);
        text-decoration: none;
        display: block;
      }
    }
    #last-item {
      padding-bottom: 0;
    }
  }
  .right-sidebar {
    z-index: 1;
    margin-right: 15px;
    top: 70vh;
    position: fixed;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    right: 0;

    .right-sidebar-list {
      padding: 0;
      margin: 0;
      position: fixed;
      display: flex;
      flex-direction: column;

      .right-sidebar-list-item {
        padding-left: 6.75rem;
        display: inline-block;
        transform: rotate(90deg);
        margin-bottom: 20px;

        .email-link {
          padding-left: 5px;
          display: block;
          color: rgb(206, 199, 199);
          text-decoration: none;
          font-size: 12px;
        }
        :hover {
          color: #4cc2f0;
          animation: bounce2 0.5s forwards;
        }
      }
    }
    .right-sidebar-list::after {
      content: "";
      width: 1px;
      height: 100vh;
      background-color: rgb(206, 199, 199);
      margin-left: 50%;
      margin-top: 45%;
    }
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-2px);
    }
  }
  @keyframes bounce2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2px);
    }
  }
}
